# Hub Configuration
HUB_NAME=
LOG_LEVEL=info
STATE_FILE=avahub-state.json
HEARTBEAT_INTERVAL=60s

# Ava API
API_BASE_URL=http://localhost:8000/api/v1

# MQTT Broker
MQTT_BROKER_URL=tcp://localhost:1883
